.games__tile {
  @apply relative rounded-lg transition-all shadow-lg hover:shadow-2xl hover:scale-105;
}

.games__tile::before {
  @apply content-[''] block pt-[100%];
}

.games__tile-image {
  @apply h-full object-cover rounded-lg;
}
