.news-tile {
  @apply relative p-5;
}

.news-tile__header {
  @apply flex justify-between pb-4;
}

.news-tile__title {
  @apply text-2xl;

  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.news-tile:first-of-type {
  @apply sm:col-span-2;
}

.news-tile__link {
  @apply h-fit whitespace-nowrap;
}
