/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: var(--color-ost-purple);
    --secondary: var(--color-ost-orange);
    --separator: #252c32;
  }

  html,
  body {
    @apply text-ost-black;
  }

  html {
    @apply text-ost-black;
    font-family: Roboto, system-ui, sans-serif;
  }

  .w-112 {
    width: 18rem; /* 480px */
  }

  hr {
    @apply h-px mt-2 mb-4 bg-gray-200 border-0;
  }
}

@layer utilities {
  .page-content {
    @apply container mx-auto my-5;
  }

  .btn-outline {
    @apply bg-white text-ost-purple font-semibold py-1 px-3 border rounded h-fit border-ost-purple transition-colors;
    @apply hover:border-transparent hover:text-white hover:bg-ost-purple;
    @apply disabled:border-pink-200 disabled:text-pink-200 disabled:hover:bg-light-white;
  }

  .btn-outline--highlight {
    @apply bg-ost-purple text-light-white;
  }

  .tile {
    @apply relative p-5 rounded-b-md;
    background: linear-gradient(180deg, transparent 25%, #fdf2f8 100%);
  }

  .tile::before {
    content: '';
    @apply absolute top-0 left-0 w-full h-1 transition-all;
    background: linear-gradient(
      90deg,
      var(--color-ost-pink) 10%,
      var(--color-ost-purple) 10%,
      var(--color-ost-purple) 25%,
      var(--color-ost-black) 25%,
      var(--color-ost-black) 50%
    );
    background-size: 200%;
  }

  .tile:hover::before {
    background-size: 120%;
  }
}
