.map-area {
  cursor: pointer;
  outline: 5px solid red;
  color: red;
  background-color: aqua;
  border: 1px solid red;
}

.overlay__wrapper {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.overlay__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay__svg {
  position: absolute;
  top: 0;
  left: 0;
}
