.team-manager {
  @apply grid grid-cols-1 my-5 gap-3;
  @apply sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
}

.team-manager__add {
  @apply flex justify-center items-center;

  height: 100% !important;
}

.team-manager__title {
  @apply line-clamp-1 text-xl font-semibold;
}

.team-manager__game {
  @apply line-clamp-1;
}
